* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* background-image: url("../images/sun-bg.png"); */
    background-repeat: repeat;
    background-size: 5px 5px;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.page-header {
    position: sticky;
    top: 0;
    z-index: 3;
    border-bottom: 1px solid #ffff00;

    background-color: #ff0;
    background-image: url("../images/red-yellow-bg.jpg");
}

.page-header a:not(.logo) {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 3px;
    padding-right: 3px;

    color: #f00;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #ff0;
    border-radius: 8px;
}

.page-header a:not(.logo):hover,
.page-header a:not(.logo):focus {
    box-shadow: 2px 2px 10px #f00, -2px -2px 10px #f00;
    ;
    border-radius: 10px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-item {
    display: flex;
    margin-left: 80px;

}

.header-nav-item>.header-list-item+.header-list-item {
    margin-left: 30px;
}

.header-list-contacts {
    display: flex;
    justify-content: space-between;
}

.header-contact:not(:last-child) {
    margin-right: 30px;
}

.page-footer {
    background-color: #ffff00;
}

.container-footer {
    display: flex;
    justify-content: space-around;
}

.adress {
    display: flex;
}

/* footer   !!!!!!!!!! */


.anime-2 {
    position: relative;
    width: 100px;
    height: 100px;
    border-color: #000000;
    border-radius: 50%;
    background-color: #f00;
    /* }

.anime-2:hover { */
    animation: colorboll 2s linear .1s infinite alternate none;

}

.anime-2:hover {
    animation-play-state: paused;
}

@keyframes colorBall {
    0% {
        transform: translatex(0px);
    }

    15% {
        transform: translatex(150px);
    }

    33% {
        transform: translatex(330px);
    }

    66% {
        transform: translatex(660px);
    }

    90% {
        transform: translatex(900px);
    }

    100% {
        transform: translatex(1000px);
    }
}



body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f9f9fd;
}

.scene {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.bpox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    /*   transition: transform 0.5s ease-in-out; */
}

.bpox.rotate-x {
    /*   transform: rotateX(60deg); */
    animation: rotateX 1500ms infinite alternate ease-in-out 1000ms;
}

.bpox.rotate-y {
    /*   transform: rotateY(60deg); */
    animation: rotateY 1500ms infinite alternate ease-in-out 1000ms;
}

.bpox.rotate-x {
    background-color: tomato;
}

.bpox.rotate-y {
    background-color: blue;
}

.scene:not(:last-child) {
    margin-right: 20px;
}

.container1 {
    display: flex;
}

.scene {
    perspective: 800px;
}

@keyframes rotateX {
    0% {
        transform: rotateX(0deg);
    }

    100% {
        transform: rotateX(60deg);
    }
}

@keyframes rotateY {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(60deg);
    }
}

.brt {
    margin: 100px;
    width: 100px;
    height: 100px;
    background-color: #fd0;
    transform: rotate(0turn);
    transition: transform 2000ms linear;
    transform-origin: top left;
}

.brt:hover {
    transform: rotate(0.5turn);
}