:root {
  --main-color: #001cf5;
}

body {
  background-color: rgb(219, 219, 219);
}

.section {
  --link-color: #00ff15;
  border: 1px solid var(--main-color, red);
  color: var(--main-color);
}
.section .link {
  padding: 3px;
  text-decoration: none;
  color: var(--link-color);
  border: 1px solid var(--main-color, red);
  background-color: rgba(38, 0, 253, 0.3);
  border-radius: 3px;
}
.text {
  --main-color: rgb(0, 0, 0);
  color: var(--main-color);
}
.title {
  color: #000c66;
  color: var(--main-color);
}

.section .link:hover,
.section .link:focus {
  color: white;
  border: 1px solid green;
  background-color: rgba(0, 255, 0, 0.3);
}

.section .link:active {
  color: red;
  border: 1px solid red;
  background-color: rgba(200, 0, 0, 0.3);
}
.list-item {
  text-indent: 20px;
}

.shadow-test {
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  color: black;
  letter-spacing: 5px;
  text-shadow: 7px 7px 15px blue, 15px 15px 15px black;
  white-space: pre-wrap;
  text-decoration: line-through;
  text-align: center;
  letter-spacing: 5px;
  word-spacing: 10px;
  line-height: 1.5;
  text-indent: 5px;
}
.list .text-formating {
  font-size: 50px;
  font-weight: 700;
  font-style: italic;
  font-family: "Roboto", sans-serif;
}
.list .text-formating::first-letter {
  font-family: tahoma, sans-serif;
  font-size: 75px;
  color: red;
  text-transform: uppercase;
  font-style: normal;
}

.list .text-formating::selection {
  color: white;
  background-color: red;
}
.width-test {
  width: auto;
  margin: 10px;
}
.width-test-text {
  box-sizing: border-box;
  padding: 20px;
  width: 500px;
  border: 1px solid blue;
  margin: 5px;
}
.wtt {
  background-color: #fff;
  border-radius: 15px;

  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #00ff15;

  border-right-width: 5px;
  border-right-style: dotted;
  border-right-color: #000;

  border-bottom-width: 10px;
  border-bottom-style: dashed;
  border-bottom-color: yellow;

  border-left-width: 20px;
  border-left-style: solid;
  border-left-color: red;
}
.wttb {
  background-color: #001cf5;
  width: 150px;
  height: 150px;
  border-top-left-radius: 75px;
  border-top-right-radius: 75px;
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 0;
  /* border-radius: 50%; */
}

.img-test {
  display: block;
  box-sizing: border-box;
  /* width: 501px; */
  padding: 10px 15px 10px 20px;
  border: 2px solid;
}