:root {
  --main-color: #001cf5;
}

body {
  background-color: rgb(255, 247, 133);
  margin: 10px 0;
}

/*  header */

.page-header {
  background-color: #ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto;
  /* border: 1px dashed black; */

}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  width: 100%;

}

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-inline-start: 0;
}

.list-item {
  margin: 0 30px;
  list-style: none;
}

.list-link {
  text-decoration: none;
  color: white;
  border: 1 solid yellow;
  border-radius: 3px;
  background-color: red;
  padding: 5px;
}

.list-contacts {
  list-style: none;
  margin-left: auto;
  width: 250px;
  padding-inline-start: 0;
}

.link-contacts {
  text-decoration: none;
  font-size: 20px;
  color: red;
}

/* main */
.title {
  text-align: center;
  font-size: 50px;
  font-weight: 900px;
  color: red;

}

h2 {
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  background-color: red;

}

.section-list {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0;


  font-size: 18px;
  color: red;
}

.section-item {
  box-sizing: border-box;
  list-style: none;
  width: 50%;
  padding: 5px;
}

.section-title {
  color: red;
  background-color: yellow;
}

.section-text {
  text-indent: 1%;
}

/* link-inline */
.link-pos {
  /* display: flex; */
justify-content: center;
}

.link-inline {
  display: inline-block;
  margin: 5px 20px;
  padding: 0 5px;
  border: 5px solid red;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  background-color: red;
  width: 80px;
 
}

/* footer */
.page-footer{
  background-color: #fff;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list-contacts-footer {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 400px;
  justify-content: center;
}

.adress {
  margin-left: 50px;
  color: red;
  font-weight: 700;

}

.list-contacts-footer .link-contacts {
  padding: 0 70px;

}

.container-form {
  display: flex;
  flex-direction: row;
}

.form {
  display: block;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.form input {
  margin: 3px 0;
}

.form input[type="text"] {
  margin-top: 0;
}

.form button {
  font-family: 'Courier New', Courier, monospace;
}
.form-position {
  display: flex;
  flex-direction: row;

}
.form-input {
  display: flex;
  flex-direction: column;
}
.form-button {
  margin: auto 20px;
}