:root {
  --main-color: #001cf5;
}

body {
  background-color: rgb(219, 219, 219);
}

.section {
  --link-color: #00ff15;
  border: 1px solid var(--main-color, red);
  color: var(--main-color);
}
.section .link {
  padding: 3px;
  text-decoration: none;
  color: var(--link-color);
  border: 1px solid var(--main-color, red);
  background-color: rgba(38, 0, 253, 0.3);
  border-radius: 3px;
}
.text {
  --main-color: rgb(0, 0, 0);
  color: var(--main-color);
}
.title {
    color: #000c66;
    color: var(--main-color);
}